<header class="main-header">
  <a href="/" class="logo hidden-xs">
      <span class="logo-lg"><b>Blue-Biz Self FAC</b></span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
              <li>
                  <a href="/">
                      <i class="fa fa-calendar-o"></i>
                      <strong style="padding-left:5px;font-size:16px;">02 / 11 (Tue)</strong>
                      <strong style="padding-left:5px;font-size:16px;" id="currentTime">00 : 00</strong>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
</header>